#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height:100vh;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background:#111111;
  color: white;
  

}


/* Media query for larger screens */
@media (min-width: 768px) {
  .content {
    position: fixed;
    top:59%;
    right:-20px;
    background-image: url('../images/background.png');
    background-size: cover;
    height: 250px;
    display: flex;

    width:280px;
  
  }
}

@media (max-width: 767px) {
  .content {
    background-image: none;
    display: none; 
  }
}


button.active {
  font-weight: bold; 
  color: #E65728; 
  }

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(5px) rotate(5deg); }
}

.shake {
  animation:shake 0.9s infinite ease;
}


@keyframes wave {
  0%, 100% {
    clip-path: polygon(
      0 100%, 0 1%,
      10% 0%, 20% 1%, 30% 0%, 40% 1%, 50% 0%, 60% 1%, 70% 0%, 80% 1%, 90% 0%, 100% 1%, 100% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 100%, 0 1%,
      0% 2%, 20% 1%, 30% 2%, 40% 1%, 50% 2%, 60% 1%, 70% 2%, 80% 1%, 90% 2%, 100% 1%, 100% 100%
    );
  }
}




.task-tracker {
  position: relative;
  width: 40px;
  height: 100%;
  background-color: #252525;
  border-radius:2px;
  left:0;
  top:0;
  height:100%;
  overflow: hidden; 
}

.header {
  position: absolute;
  top: 4px;
  left: 50%;
  width: 25px;
  height: 25px;
  color: black;
  background-color: #B99800;
  border-radius: 50%;
  transform: translateX(-50%);
}

.filling {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(167, 54, 233), #f3d188);
  transition: height 0.5s ease;
  border-radius: 2px;
  animation: wave 1.5s infinite linear;
}